{% extends 'common/base2.html' %}


{% block content %}<section id="about " class="about">
    <div class="container text-center">
        <div class="content">
            {%  if not validate_ticket %}
            <h3>Entrez le numéro de votre ticket ci-dessous</h3>
            <h4>{{message}}</h4>
            <p>Mon numéro de ticket:</p>
            <form action="." method="POST">
                <strong>
                    {% csrf_token %}
                    {{ form.as_p }}
                </strong>
                <input id="validate_ticket" class="about-btn2" type="submit" value="Valider le ticket"  />
            </form>
            {% endif %} 
        </div>
    </div>
</section>
{% endblock %}