{% extends 'common/base2.html' %}


{% block content %}<section id="about " class="about">
    <div class="container text-center">
        <div class="content">

            
            <h3>Mon bulletin de vote</h3>
            <h4><strong>{{message}}</strong><br/><br/></h4>
            
            {%  if not new_ballot %}
            <p> Le numéro indique l'ordre de préférence<br/></p>
            <div class="d-flex justify-content-center">
                <form class="col-lg-6 text-right" action="." method="post">
                    {% csrf_token %}
                    {% for candidate in candidates_list %}
                        <label for={{candidate.id}}>{{candidate.last_name}} {{candidate.first_name}}: </label>
                        <input id={{candidate.id}} type="number" name={{candidate.id}} value="1" min=1 max={{number_candidates}}>
                        <br/>
                    {% endfor %}
                    <br/> 
                    <input class="about-btn3" type="submit" value="Valider mon vote">
                </form>
            </div>
            {% endif %}
            {%  if new_ballot %}
                <h4>Attendez que l'organisateur de l'élection clôture le bureau<br/>pour connaître les résultats.<br/><br/></h4>
                <a href="{% url 'index' %}" ><div class="about-btn">
                    <h1>Retourner à l'acceuil</h1>
                </div></a>

            {% endif %}
   
        </div>
    </div>
</section>
{% endblock %}