{% extends 'common/base2.html' %}


{% block content %}<section id="about " class="about">
    <div class="container text-center">
        <div class="content">
            {%  if not validate_ticket %}
            <h3>Compléter le bulletin de vote</h3>
            <h4>{{message}}</h4>
            <p>Mon numéro de ticket:</p>
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            </form>   
        </div>
    </div>
</section>
{% endblock %}