{% extends 'common/base2.html' %}
{% load static %}

{% block content %}<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1><br/><br/>Ajouter les candidats</h1>
        <article class="container col-lg-12">
            <br/><br/>
        {% if adding_candidate %}
        <h2>Le candidat {{new_candidate.first_name}} {{new_candidate.last_name}} a bien été ajouté<br/></h2>
        {% endif %}

        {% if double_candidate %}
        <h2>Erreur: Le candidat {{new_candidate.first_name}} {{new_candidate.last_name}} a déjà été ajouté<br/></h2>
        {% endif %}

        <h2>Votre bureau compte actuellement {{number_candidate}} candidats</h2>
        <div class="row col-lg-12 services">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box" data-aos="fade-up">
                    <div class="icon"><i class="bx bx-walk"></i></div>
                    <h4 class="title" "><strong>1/3 Créer le bureau de vote.</strong></h4>
                    <h4 class="title style="background-color: blue;">2/3 Ajouter les candidats.</h4>
                    <h4 class="title">3/3 Récupérer les tickets électeurs.</h4>
                    <p class="description">Ajoutez les candidats de votre élection.<br/>
                        Vous pourrez les modifier ultérieurement si votre bureau n'est pas ouvert au vote.</p>
                </div>
                </div>
            <div class='col-md-12 col-lg-6 '>
                <form class="form1" method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="about-btn3" type="submit" value="Ajouter"  />
                </form>
            </div>
        <br/><br/>
        <button class="about-btn2" id="end_add">
            <a id="end_add_candidate" style="color:black" href="{% url 'desk:create_tickets' desk_id=desk_id %}">J'ai fini d'ajouter des candidats</a>
        </button>
        <br/><br/>
        </article>
    </div>
</section>{% endblock %}

{% block script %}<script src="{% static 'desk/assets/js/formular_cand.js' %}"></script>
{% endblock %}