{% extends 'common/base2.html' %}
{% load static %}

{% block content %}<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1><br/><br/>Créer un nouveau bureau de vote</h1>
        <article class="container col-lg-12">
            <br/><br/>
            
            {% if not desk_complete %}
            <h2><strong>Veuillez compléter tous les champs avant de valider.</strong></h2>
            {% if existing_desk %}
                <h2>Un bureau de vote de ce nom existe déjà.</h2>
            {% endif %}
            <div class="row col-lg-12 services">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bx bx-walk"></i></div>
                        <h4 class="title" style="background: linear-gradient(rgba(39, 82, 177, 0.774), rgba(137, 167, 231, 0.774));">
                            <strong>1/3 Créer le bureau de vote.</strong></h4>
                        <h4 class="title">2/3 Ajouter les candidats.</h4>
                        <h4 class="title">3/3 Récupérer les tickets électeurs.</h4>
                        <p class="description">Si vous voulez que vos électeurs puissent voter dés à présent.
                            Ouvrez le bureau maintenant.<br/> Attention! Aucune modification ne sera plus possible
                            sur un bureau ouvert au vote.</p>
                    </div>
                    </div>
                <div class='col-md-12 col-lg-6 '>
                    <form class="form1" method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input id="formular_desk" class="about-btn2" type="submit" value="Créer le bureau"  />
                    </form>
                </div>
            </div>
            {% endif %}           

            <br/><br/>
        </article>
    </div>
</section>{% endblock %}

{% block script %}<script src="{% static 'desk/assets/js/formular_cand.js' %}"></script>
{% endblock %}