{% extends 'common/base2.html' %}


{% block content %}<section class="cta">
    <div class="text-center">
        <h1><br/>Bureaux de vote: {{desk.school_class}}</h1>
        <br/><br/>
    </div>
    <div class="row" data-aos="fade-up">
        <article class="container d-flex flex-column col-lg-5 frame1">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2><br/>Etat du bureau<br/><br/></h2>
            </div>
            <div class="text-left">
                <p><button class="about-btn3">Etablissement:</button>           {{desk.school}}</p>
                <p><button class="about-btn3">Nom du bureau:</button>                  {{desk.school_class}}</p>
                <p><button class="about-btn3">Status:</button>                  {{status}}</p>
                <p><button class="about-btn3">Nombre d'électeurs:</button>        {{desk.tickets_amount}}</p>
                {% if desk.status == "C" %}
                <p><button class="about-btn3">Date de création:</button>        {{desk.opening_vote}}</p>
                {% endif %}
                {% if desk.status == "O" %}
                <p><button class="about-btn3">Date d'ouverture:</button>         {{desk.opening_vote}}</p>
                <p><button class="about-btn3">Bulletins déposés:</button>        {{desk.number_voters}}</p>
                {% endif %}
                {% if desk.status == "E" %}
                <p><button class="about-btn3">Date d'ouverture:</button>         {{desk.opening_vote}}</p>
                <p><button class="about-btn3">Date de clôture:</button>          {{desk.closing_vote}}</p>
                <p><button class="about-btn3">Bulletins déposés:</button>        {{desk.number_voters}}</p>
                <p><button class="about-btn3">Elu(s):</button>                   {{winners}}</p>
                <button class="about-btn2" id="end_add">
                    <a style="color:black" href="{% url 'account:myaccount' %}">Résultats détaillé</a>
                </button>
                {% endif %}
                <br/><br/>
            </div>
        </article>

        <article class="container d-flex flex-column col-lg-5 frame2">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2><br/>Liste des candidats<br/><br/></h2>
            </div>
            {% for candidate in candidates_list %}
            <li class="text-center">
                <div class="col-lg-12">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-face"></i>| Nom: {{candidate.first_name}} / Prénom: {{candidate.last_name}}</h4>   
                    </div>
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-list-ol"></i>| Numéro du candidat: {{candidate.id}}</h4>
                    </div>
                    {% if desk.status == "C" %}
                    <button class="about-btn2 col-lg-6" id="end_add">
                        <a style="color:black" href="{% url 'desk:delete_candidate' candidate_id=candidate.id desk_id=desk.id %}">Supprimer le candidats</a>
                    </button>
                    {% endif %}
                </div>
                <br/><br/><br/>
            </li>
            {% endfor %}
            <br/><br/>
        </article>
    </div>
    <br/><br/>
    <article class="container d-flex flex-column col-lg-10 frame1">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2><br/>Modifier le bureau<br/><br/></h2>
        </div>
        <div class="d-flex justify-content-around"> 
            {% if desk.status == "C" %}
            <button class="about-btn2">
                <a style="color:black" href="{% url 'desk:add_voters' desk_id=desk.id %}">Modifier le nombre d'électeurs</a>
            </button>
            <button class="about-btn2">
                <a style="color:black" href="{% url 'desk:add_candidates' desk_id=desk.id %}">Ajouter des candidats</a>
            </button>
            <button class="about-btn2">
                <a style="color:black" href="{% url 'desk:open_desk' desk_id=desk.id %}">Ouvrir le bureau</a>
            </button>
            {% endif %}
            {% if desk.status == "O" %}
            <button class="about-btn2">
                <a style="color:black" href="{% url 'desk:close_desk' desk_id=desk.id %}">Clôturer des candidats</a>
            </button>
            {% endif %}
            <button class="about-btn4" id="end_add">
                <a style="color:black" href="{% url 'desk:delete_desk' desk_id=desk.id %}">Supprimer le bureau</a>
            </button>  
        </div>
        <br/><br/>
    </article>

    <article class="container d-flex flex-column col-lg-10 frame1">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2><br/>Tickets restants du bureau : {{remaining_tickets}}/{{desk.tickets_amount}}<br/><br/></h2>
        </div>
        <ul class="text-center">
            {% for ticket in tickets_list %}
            <li class="col-lg-12 ">
                <div class="col-lg-6"></div>
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-tag"></i>| Numéro: {{ticket.ticket_number}} / Code: {{ticket.ticket_code}}</h4>   
                    </div>
                </div>
                <br/><br/><br/>
            </li>
            {% endfor %}
        </ul>
        <br/><br/>
    </article>
</section>
{% endblock %}
