{% extends 'common/base2.html' %}
{% load static %}


{% block links %}<link href="{% static 'desk/assets/css/formular_cand.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}<section class="cta">
    <div class="text-center">
        <h1><br/>Bureaux de vote:&emsp;{{desk.school_class}}</h1>
        <br/><br/>
    </div>
    <div class="row" data-aos="fade-up">
        <article class="container d-flex flex-column col-md-10 col-lg-5 frame1">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2><br/>Etat du bureau<br/><br/></h2>
            </div>
            <div class="text-left"><p class="section-title2"></p>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Etablissement</div><p class="col-lg-4">{{desk.school}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Nom du bureau</div><p class="col-lg-4">{{desk.school_class}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Status</div><p class="col-lg-4">{{status}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Nombre d'électeurs</div><p class="col-lg-4">{{desk.tickets_amount}}</p></div>
                {% if desk.status == "C" %}
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Date de création</div><p class="col-lg-4">{{desk.opening_vote}}</p></div>
                {% endif %}
                {% if desk.status == "O" %}
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Date d'ouverture</div><p class="col-lg-4">{{desk.opening_vote}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Bulletins déposés</div><p class="col-lg-4">{{desk.number_voters}}</p></div>
                {% endif %}
                {% if desk.status == "E" %}
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Date d'ouverture</div><p class="col-lg-4">{{desk.opening_vote}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Date de clôture</div><p class="col-lg-4">{{desk.closing_vote}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Bulletins déposés</div><p class="col-lg-4">{{desk.number_voters}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-lg-4">Vainqueur(s)</div><p class="col-lg-4">{{winners}}</p></div>
                <div class="row d-flex justify-content-center"><button class="about-btn2" id="end_add">
                    <a style="color:black" href="{% url 'result:result_details' desk_id=desk.id %}">Résultats détaillés</a>
                </button></div>
                {% endif %}
                <br/><br/>
            </div>
        </article>

        <article class="container d-flex flex-column col-md-10 col-lg-5 frame2">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2><br/>Liste des candidats<br/><br/></h2>
            </div>
            <ul id="cand_list">
            {% for candidate in candidates_list %}
            <li class="text-center" style="list-style-type: none;">
                <div class="col-lg-12">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-face"></i>| Nom: {{candidate.first_name}} / Prénom: {{candidate.last_name}}</h4>   
                    </div>
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-list-ol"></i>| Numéro du candidat: {{candidate.id}}</h4>
                    </div>
                    {% if desk.status == "C" %}
                    <button class="about-btn2 col-lg-6" id="end_add">
                        <a style="color:black" href="{% url 'desk:delete_candidate' candidate_id=candidate.id desk_id=desk.id %}">Supprimer le candidats</a>
                    </button>
                    {% endif %}
                </div>
                <br/><br/><br/>
            </li>
            {% endfor %}
            </ul>
            {% if desk.status == "C" %}
                {% include 'desk/formular_cand.html' %}
            {% endif %}
            <br/><br/>
        </article>
    </div>
    <br/><br/>
    <article class="container d-flex flex-column col-lg-10 frame1">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2><br/>Modifier le bureau<br/><br/></h2>
        </div>
        <div class="d-flex justify-content-around"> 
            {% if desk.status == "C" %}
            <button class="about-btn2 col-lg-2 col-md-6">
                <a style="color:black" href="{% url 'desk:add_voters' desk_id=desk.id %}">Modifier le nombre d'électeurs</a>
            </button>
            <button class="about-btn2 col-lg-2 col-md-6">
                <a style="color:black" href="{% url 'desk:open_desk' desk_id=desk.id %}">Ouvrir le bureau</a>
            </button>
            <div class="float col-lg-2 col-md-6">
                {% include 'desk/formular_tickets.html' %}
            </div>
            {% endif %}
            {% if desk.status == "O" %}
            <button class="about-btn2">
                <a style="color:black" href="{% url 'desk:close_desk' desk_id=desk.id %}">Clôturer des candidats</a>
            </button>
            {% endif %}
            <button class="about-btn4 col-lg-2 col-md-6" id="end_add">
                <a style="color:black" href="{% url 'desk:delete_desk' desk_id=desk.id %}">Supprimer le bureau</a>
            </button>  
        </div>
        <br/><br/>
    </article>

    <article class="container d-flex flex-column col-lg-10 frame1">
        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
            <h2><br/>Tickets restants du bureau : {{remaining_tickets}}/{{desk.tickets_amount}}</h2>
        </div>
        <div class="d-flex justify-content-center">
            <h1 class="hide_tickets col-lg-1"><i class="bx bx-chevrons-down"></i></h1>
        </div><br/>
        
        <ul id="ul_tickets" class="visible text-center">
            {% for ticket in tickets_list %}
            <li class="col-lg-12">
                <div class="col-lg-6"></div>
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="col-flg-12 icon-box row" data-aos="fade-up" data-aos-delay="100">
                        <h4><i class="bx bx-tag"></i>| Numéro: {{ticket.ticket_number}} / Code: {{ticket.ticket_code}}</h4>   
                    </div>
                </div>
                <br/><br/><br/>
            </li>
            {% endfor %}
        </ul>
        <br/><br/>
    </article>
</section>
{% endblock %}


{% block script %}<script src="{% static 'desk/assets/js/formular_cand.js' %}"></script>
{% endblock %}