<div class="optin-container text-center">
    <div class="addingt col-lg-10">Gérer mes tickets</div>

    <form id="form_adding_tickets" class="form formt hidden flex-column" action="/command/adding_tickets/" method="post">
            {% csrf_token %}
            <input type="number" id="new_amount" name="new_amount" min="1"/>
            <input type="number" style="display: none;"  name="desk_id"  value={{desk.id}} id="item_name">
            <input type="submit" value="Ajouter" />
    </form>
    <form id="form_deleting_tickets" class="form formt hidden flex-column" action="/command/deleting_tickets/" method="post">
        {% csrf_token %}
        <input type="number" id="new_amount" name="new_amount" min="1" />
        <input type="number" style="display: none;" name="desk_id"  value={{desk.id}} id="item_name">
        <input type="submit" value="Supprimer" />
    </form> 

</div><!--end .container-->
