<div class="optin-container col-lg-12 text-center">
    <div class="addingc">Ajouter un candidat</div>

    <form id="form_cand" class="form formc hidden flex-column" action="/command/adding_cand/" method="post">
            {% csrf_token %}
            <input type="text" id="first_name" name="first_name" placeholder="Prénom" />
            <input type="text" id="last_name" name="last_name" placeholder="Nom" />
            <input type="number" style="display: none;" name="desk_id"  value={{desk.id}} id="item_name">
            <input type="submit" value="Ajouter" />
    </form> 

</div><!--end .container-->
