{% extends 'common/base2.html' %}

{% block content %}
<div class='cta container'>
<div class='text-center'>
    <h2>Un email vous a été envoyé<br/><br/></h2>
    <div>
        <p>Un lien de réinitialisation de votre compte CondorVote <br/> a été envoyé à l'adresse indiquée</p>
        <p>à condition que celle-ci corresponde à un compte actif.</p>
        <br/>
        <p>Pour vous connecter cliquez sur le lien ci dessous :</p>
        <p><a style="color:rgb(175, 17, 17);" href="{% url 'account:connexion' %}">Me connecter</a>.</p>

        <p><br/>Cordialement</p>


        <p><br/>L'équipe CondorVote</p>
    </div>
</div>
</div>
{% endblock %}