{% extends 'common/base2.html' %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>

{% block content %}
<section class="cta container text-center col-lg-12">
  <h1 class="">Mot de passe perdu?</h1>
  <h3>Entrez votre email pour le réinitialiser<br/><br/></h3>
    
    <form method="POST" class="d-flex col-lg-12 align-items-center form-signin ">{% csrf_token %}
      <div class="row col-lg-4">
        <input name="email" class="form-control text-center" placeholder="Mon email"  maxlength="254" type="email"   id="id_email" required="true">
      </div>
      <button class="btn btn-lg btn-primary btn-block col-lg-4" type="submit">Envoyer</button>
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}
      </form>
    </section>
{% endblock %}