{% extends 'common/base2.html' %}

{% block content %}
<div class='cta container'>
<div class='text-center'>
    <h2>Un email vous a été envoyé<br/><br/></h2>
    <div>
        <p>Pour commencer le processus de réinitialisation de votre compte CondorVote à partir du lien qui vous a été envoyé.</p>
        <br/>
        <p>Pour vous connecter cliquez ici :</p>
        <p><a href="{% url 'account:connexion' %}">Me connecter</a>.</p>

        <p><br/>Cordialement</p>


        <p><br/>L'équipe CondorVote</p>
    </div>
</div>
</div>
{% endblock %}