{% extends 'common/base.html' %}


{% block content %}<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1><br/><br/>Créer un compte</h1>
        <article class="container col-lg-12">
            <br/><br/>
        
            {% if error_password %}
            <p><strong>Mot de passe erroné.</strong></p>
            {% endif %}
            {% if error_username %}
            <p><strong>Nom d'utilisateur déjà attribué.</strong></p>
            {% endif %}
            {% if error_email %}
            <p><strong>Un compte est déjà lié à cet email.</strong></p>
            {% endif %}

            <form class="form1" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="about-btn2" type="submit" value="Créer mon compte"  />
            </form>
            <br/><br/>
        </article>
    </div>
</section>{% endblock %}