
{% extends 'common/base2.html' %}


{% block content %}<section id="hero">
    <div class="hero-container" data-aos="fade-up">
        <h1><br/><br/>Me connecter</h1>
        <article class="container col-lg-12">
            <h1><br/><br/></h1>
            {% if error %}
            <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
            {% endif %}

            {% if user.is_authenticated %}
            Vous êtes connecté, {{ user.username }} !
            <div id="authenticate"></div>
            {% else %}
            <form class="form1" method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <input id="formular_connection" type="submit" value="Connexion" class="about-btn2" />
                <h1><br/></h1>
                <button class="col-lg-3 about-btn4">
                    <p><br/><a id="resetpass" href="{% url 'password_reset' %}">
                    Mot de passe perdu?</a><br/></p>
                </button>
            </form>
            {% endif %}
        <br/><br/>
        </article>
    </div>
</section>{% endblock %}