{% extends 'common/base2.html' %}


{% block content %}<section class="cta flex-column col-lg-12 text-center" id="accountBox">
    <h1 >Supprimer mon compte</h1>
    <article class="container col-lg-12">
        
        <h2><br/><br/>Attention, '{{ user.username }}'', vous allez supprimer définitivement votre compte!</h2>
        <p><br/><br/>Etes vous sûre de vouloir continuer?</p>
        <div class="row d-flex justify-content-around">
            <button class="about-btn2" id="delete2">
                <p><a style="color:black" href="{% url 'account:delete_user' %}">Supprimer mon compte</a></p>
            </button>
            <button class="about-btn2" id="notdelete">
                <p><a style="color:black" href="{% url 'account:myaccount' %}">Retourner sur Mon compte</a></p>
            </button>
        </div>
    
    </article>
</section>{% endblock %}