{% extends 'common/base.html' %}

{% block content %}
<section id="about d-flex justify-content-around" class="about">
    <div class="row text-center col-lg-12">
        <h1 class="col-lg-12">Mon compte<br/><br/></h1>
        <article class="container d-flex flex-column col-md-10 col-lg-4 frame1">
           <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Mes informations<br/></h2>
            </div>
            <div class="text-left"><p class="section-title3"></p>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Pseudo:</div><p class="col-md-4 col-lg-4">{{user.username}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Prénom:</div><p class="col-md-4 col-lg-4">{{user.first_name}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Nom:</div><p class="col-md-4 col-lg-4">{{user.last_name}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Email:</div><p class="col-md-4 col-lg-4">{{user.email}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Etablissement:</div><p class="col-md-4 col-lg-4">{{user.account.school}}</p></div>
                <div class="row d-flex justify-content-start"><div class="about-info2 col-md-4 col-lg-4">Département:</div><p class="col-md-4 col-lg-4">{{user.account.departement}}</p></div>
                <br/><br/>
            </div>
        </article>
      
        <article class="article-account container col-md-10 col-lg-6 frame1">
            <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Gestion de mes informations<br/></h2> <br/>
                    <h1 class="about-btn2 align-self-center">
                       <a style="color:black" href="{% url 'desk:display_desk_list' %}">
                        Voir mes bureaux de vote</a>
                    </h1>
            </div>

            <br/>
            <div class="container text-center frame2">
                <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2><br/>Gestion de mon compte<br/><br/></h2>
                </div>
                <div class="container">
                    <div class="d-flex justify-content-around">
                        <button class="about-btn6">
                            <a id="changepassword" style="color:black" href="{% url 'password_change' %}">
                            Changer mon mot de passe</a>
                        </button>
                        <button class="about-btn6" id='delete'>
                            <a style="color:black" href="{% url 'account:delete_confirmation' %}">
                            Supprimer mon compte</a>
                        </button>
                        <button class="about-btn6" id='modify'>
                            <a style="color:black" href="{% url 'account:modify_account' %}">
                            Modifier mon compte</a>
                        </button>
                        
                    </div>
                    <br/><br/>
                </div>
            </div>

        </article>
    </div>  
</section>
{% endblock %}